
    <div ng-controller="MainController as ctrl">



        <div ng-model="ctrl.GameData" class="row container-gallery tile-container" isotope-container="isotope-container">

        <div class="col-md-3 col-sm-3 col-xs-3 col-line-adjustment" ng-repeat="(cardKey, card) in ctrl.GameData.cards" isotope-item="isotope-item" ng-init="flipped = card.flipped" ng-click="ctrl.flipCard(cardKey)"  myrepeatdirective>
          
          <div class="flip-container" ng-class="{flip: card.flipped}">
            
            <div class="flipper">
              <div class="front">
                <!--<span id="fimage{{cardKey}}" class="front-side-card image-resize-c">{{cardKey}}</span>-->
                <img ng-src="{{ctrl.imageUrl}}/{{ctrl.GameData.cardBack.cardImage}}" id="fimage{{cardKey}}" class="front-side-card image-resize-c" />
              </div>
              <div class="back">
                <img ng-src="{{ctrl.imageUrl}}/{{card.cardImage}}" id="bimage{{cardKey}}" class="back-side-card image-resize-c" ng-class="{guessedcard: card.guessed}" />
              </div>
            </div>

          </div>

        </div>


          <div id="game-over" ng-if="ctrl.GameManager.gameEnd" class="row overlay">
            <button type="button" class="overlay-close" ng-click="ctrl.closeOverlay()" translate="main.overlay.close">Close</button>
              <nav>
                <ul>
                  <li><span class="overlay-title" translate="main.overlay.gamecompleted">Game completed!</span></li>
                  <li>
                    <form class="form-highscore" name="highscoreForm" role="highscore" ng-submit="ctrl.addHighscore(highscoreForm)">

                      <div  ng-if="ctrl.GameManager.queryHighscore">
                        <div class="form-group">
                          <p><label for="name" translate="main.overlay.entername">Enter your name: </label></p>
                          <input type="text" name="name" ng-model="ctrl.highscoreObj.name" class="form-control" placeholder="Name">
                        </div>
                        <div class="error ng-hide" ng-show="ctrl.serverResponse.fieldErrors.name == 'NameIsRequired'">        
                          <p translate="main.overlay.namerequired">Name for highscore is required!</p>
                        </div>                       
                      </div>                       

                    <button class="btn btn-lg btn-block" type="submit"
                      ng-class="{ 'btn-default': highscoreForm.$dirty, 'btn-success': redirect }">
                      <span ng-hide="redirect" translate="main.overlay.addhighscorebutton">Add Highscore</span>
                    </button>

                    </form>
                  </li>
                </ul>
              </nav>            
          </div>
   
      </div>

    </div>