
/*******************************************
CSS FOR FLIP DIRECTIVE
**********************************************/

/* thanks http://davidwalsh.name/css-flip*/
/* entire container, keeps perspective */
.flip-container {
    margin-left: auto;
    margin-right: auto;    
    perspective: 1000px;
    transform-style: preserve-3d;
}
    /*  UPDATED! flip the pane when hovered */
    .flip-container.flip .back {
        transform: rotateY(0deg);
    }
    .flip-container.flip .front {
        transform: rotateY(180deg);
    }





/* flip speed goes here */
.flipper {
    margin-left: auto;
    margin-right: auto;    
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}
 

/* hide back of pane during swap */
.front, .back {   
    backface-visibility: hidden;
    transition: 0.6s;
    transform-style: preserve-3d;

    position: absolute;
    top: 0;
    left: 0;
}

/*  UPDATED! front pane, placed above back */
.front {
    z-index: 2;
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(-180deg);
}

/*******************************************
CSS FOR THIS EXAMPLE
**********************************************/
.sh {

}

input[type=number] {
  width:4em;
}

.pointer {
  cursor:pointer;
}